<nav class="navbar bg-light">
    <div class="container-fluid">
      <a href="/preguntas">
          <img src="https://ik.imagekit.io/lvh0tltbeph/SofkaU/logo-sofkau_1Fn3uH-1S.png?ik-sdk-version=javascript-1.4.3&updatedAt=1645658493330" alt="" width="200" height="75">
        </a>
    </div>
  </nav>

<div class="container">
    <div class="card text-center">

        <div class="card-header">
            <B>FORGOT PASSWORD</B> <i class="pi pi-user" style="font-size: 1rem;margin-left: 10px;"></i>
        </div>

        <div class="form-group card-body" style="margin: 10px;">
            <input placeholder="EMAIL" type="email" class="form-control" [formControl]="userEmail" required>
        </div>
        <div class="form-group card-body" >
            <button pButton pRipple class="p-button-outlined p-button-secondary"  (click)="onRecovery()">
                Request a password 
            </button>
            
        </div>
    </div>
</div>